/* .formStyleSignIn{
    display: flex;
    color :rgb(236, 135, 40);       
    align-items: center;
    justify-content: space-between;    
    border-radius: 12px;   
    flex-direction: column;    
    gap:2rem;
    align-items: center;
    font: 5em sans-serif;
  
 
} */