.searchbar {    
    border-radius: 65px;
    position: relative;
    padding: 20px; 
color: gray;
margin-top: 200px;
 width : 500px;
 margin:6rem auto;
 height:12px;
 font-size: 20px;
display: flex;
flex-direction:row; 
align-items:center;
}
